body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px;
}

h1, h2 {
    color: cyan;
}

p {
    color: #b0b0b0;
}
